* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(#0a3d62, #60a3bc, #3c6382);
}

.container {
  width: 800px;
  padding: 80px;
  box-shadow: 0 15px 35px rgba(50, 50, 50, 0.45);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #001524;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dice-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

img {
  height: 150px;
}

p {
  font-size: 18px;
  margin: 30px 0;
  font-weight: 500;
  text-align: center;
  color: #7ed957;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #ff7675;
}

button {
  background-color: #e74c3c;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 600;
  margin-left: 25px;
  cursor: pointer;
}

button:hover {
  cursor: hand;
  box-shadow: 0 0 10px rgba(255, 248, 248, 0.3);
}
.cup {
  padding-left: 30px;
}

.result {
  color: #6a89cc;
}

#winner {
  font-size: 22px;
}

.shake {
  animation: shake 0.5s infinite;
  -webkit-animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  50% {
    transform: rotate(-150deg);
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}
